<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DK Weather | {{title}}</title>
    <link rel="stylesheet" href="css/css.css">
</head>

<body>
    {{>header}}
    <p>This is a very cool project was created by {{name}}</p>
    <img src="/img/logo.png" alt="My Image">
    <p>DKB is a very cool boy and a passionate programmer</p>
</body>

</html>